name: crea feed RSS c_e047

on:
  schedule:
  - cron:  '30 6,18 * * *'
  workflow_dispatch:

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: crea cartella utente bin, copia dentro l'eseguibile di miller, installa xmlstarlet, uv, scrape-cli e yq
        run: |-
          mkdir -p ~/bin
          cp bin/mlr_6 ~/bin/mlr
          cd ~/bin
          chmod +x mlr
          sudo apt-get install xmlstarlet
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv tool install scrape-cli
          pip install --user yq==3.4.3 xmltodict==0.13.0
      - name: scarica i dati e crea feed
        env:
          SUPER_SECRET: ${{ secrets.IFTTT }}
        run: |-
          export PATH=$PATH:~/bin:~/.local/bin
          cd ./c_e047
          chmod +x ./c_e047.sh
          ./c_e047.sh
      - name: Committa e pusha se ci sono variazioni nei dati
        run: |-
          git config user.name "automatico"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date --iso-8601=seconds)
          git commit -m "c_e047: ${timestamp}" || exit 0
          git push
